model_weights.pth
generated.png
__pycache__/models.cpython-312.pyc
__pycache__/scheduler.cpython-312.pyc
runs/events.out.tfevents.1716401916.DELL-DANILO.15480.0
runs/events.out.tfevents.1716401995.DELL-DANILO.15480.1
runs/new/events.out.tfevents.1716407869.DELL-DANILO.5744.0
runs/new/events.out.tfevents.1716407841.DELL-DANILO.12652.0
runs/new/events.out.tfevents.1716408921.DELL-DANILO.22484.0
runs/new/events.out.tfevents.1716409459.DELL-DANILO.29708.0
utils/__pycache__/models.cpython-312.pyc
utils/__pycache__/modelsother.cpython-312.pyc
utils/__pycache__/scheduler.cpython-312.pyc
